/*

VARIABLES

*/

:root 
{   
    /* BASE COLORS */   
    --color-bg: #111621;
}

/*

RESETS

*/

html, body,
html body .modal,
html body .section.below,
html body
{
    background-color: #9f3d7e;
}
html body.padded
{
    padding-top: 40px;
}
html body.loading::before
{
    content: "";
    color: #FFF;
    font-size: 1rem;
    text-align: center;
    line-height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif?v=0.0.0.1);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: repeat;
    z-index: 999999999;
    opacity: 1;
}
html body.loading::after
{
    content: attr(data-text);
    color: #FFF;
    font-size: 1rem;
    text-align: center;
    line-height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111621;
    z-index: 99999999;
}
.pull-right
{
    float: right;
}
html body .img-thumbnail
{
    background: #000;
    border-color: #757575;
}
.copy
{
    display: block;
    position: relative;
    text-align: center;
    font-size: 75%;
}
a
{
    color: #0d6efd;
    text-decoration: none;
}
a:hover
{
    color: #FFF;
    text-decoration: none;
}
html body .big
{
    font-size: 200%;
}

/*

SECTIONS

*/

html,
html body,
html body .section,
html body .container
{
    display: block;
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
}
html body .card
{
    margin: 0 !important;
}
html body table.table pre
{
    margin: -5px 0 -8px;
}

html body alert strong i,
html body alert small i
{
    font-size: 1rem;
    margin: 0 5px;
}

/*

BOOTSTRAP MODS

*/

html body .ordit-video,
html body .alert-block,
html body .btn-block,
html body .img-block
{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}

html body .nav-tabs
{
    border-color: transparent;
    margin-bottom: -10px;
}

html body .modal-header .nav-tabs
{
    margin-bottom: -15px;
}

html body .tab-content
{
    padding: 0;
}
html body .nav-tabs .nav-link
{
    padding-bottom: 1rem;
}
html body .btn.btn-outline-light
{
    opacity: 0.5;
}
html body .btn.btn-outline-light:hover,
html body .btn.btn-outline-light:focus
{
    opacity: 0.75;
}
html body table.table thead tr th:last-child,
html body table.table tbody tr td:last-child
{
    text-align: right;
}
html body .navbar-toggler i
{
    color: #CCC;
}
html body .navbar-toggler button:hover i
{
    color: #FFF;
}
html body .nav-link
{
    padding: 0.5rem 0.9rem;
}
.card .toolbar select.vout-accounts
{
    margin-top: 11px;
    color: #d9d5d2;
    font-size: 11px;
}
.card .toolbar #main-tabs
{
    margin-top: -15px;
}
.card .toolbar
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    line-height: 50px;
    z-index: 9999999;
}
html body #main-tabs.nav-tabs
{
    padding-top: 50px;
}
html body .toolbar #main-tabs.nav-tabs
{
    padding-top: 0;
}

.nav-tabs .nav-link, 
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link
{
    padding: 0.5rem;
    margin: 0.2rem 0.7rem;
}

/*

ADVANCED RESET

*/

html body .card table.table alert.alert
{
    margin-top: 5px;
    margin-bottom: 0;
}
html body .qr-holder img {
    width: 100%;
    height: auto;
    background: #FFF;
    padding: 5px;
    border: 1px solid #EEE;
    border-radius: 3px;
}


/*

MODS FOR MODALS

*/

html body .nav-tabs .nav-link
{
    width: 85px; /* was 85px ? changed due to registration pages */
}
html, body,
html body .modal,
html body .section.below,
html body
{
    background: #111621;
}
html body code
{
    color: #ff6c3a;
}
html body .highlight
{
    color: #00a3ff !important;
}
html body .modal
{
    top: 3rem;
}

html body .btn.btn-primary
{
    background: transparent;
    border-color: #ff6c3a;
    opacity: 0.45;
}
html body alert.alert.alert-info .btn-group a.btn:hover small,
html body .btn.btn-primary:hover, 
html body .btn.btn-primary:focus
{
    background: transparent !important;
    border-color: #00a3ff !important;
    opacity: 1;
}
html body #sado-tabs.nav-tabs .nav-link
{
    width: auto;
}
html body .btn-group a.btn
{
    width: 30%;
}

/*

EDEN MODS

*/

.card .toolbar .nav-tabs .nav-item
{
    width: auto !important;
    display: inline-block;
}
.card .toolbar .nav-tabs .nav-item:last-child
{
    position: absolute;
    right: 25px;
}

/*

INNER CARDS

*/

html body .card .card-body .card .card-body
{
    height: auto;
    max-height: auto;
    min-height: auto;
}
html body .card .card,
html body .card .card-body .card .card-header
{
    background: #171717;
}
html body .card .card-body .card .card-body
{
    background: #05091E;
}