/*

RESETS

*/
a {
    text-decoration: none;
}
.jumbotron h2 {
    font-size: 24px;
    font-weight: normal;
}
.jumbotron {
    padding-top: 0px
}
.pre {
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 16px;
    line-height: 1.42857;
    margin: 0 0 10px;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
}
.section.light h2.sub, 
.section.light h3.sub, 
.section.light h4.sub {
    color: #757575;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
}
table.table.blog {
    color: #757575;
    padding: 5px 110px;
    text-align: center;
    display: block;
}
table.table.blog thead,
table.table.blog thead tr,
table.table.blog tbody,
table.table.blog tbody tr,
table.table.blog thead {
    width: 100%;
    display: block;
}
table.table.blog td,
table.table.blog th {
    width: 19%;
    display: inline-block;
    text-align: center;
}
h4.post-title {
    text-align: left;
    margin-top: 60px;
}
h4.post-title span.date {
    font-size: 75%;
    float: right;
    opacity: 0.65;
    padding-top: 5px;
}
.post img.img-responsive {
    margin: 55px 0 0 0;
    clear: both;
}
span.alert.alert-block {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
}

/*

HEADER

*/
#header {
    display: block;
    position: relative;
    padding: 60px 0 75px;
    text-align: center;
}
#header h2 {
    font-size: 22px;
    margin: 0 0 15px;
    font-weight: normal;
    padding: 0;
}
#header h2 {
    font-size: 18px;
    margin: 0 0 15px;
    font-weight: normal;
    padding: 0;
}
.header-introduction {
    display: block;
    position: relative;
    padding: 30px 0 15px;
}

/*

RIBBONS

*/
.ribbon {
    display: block;
    position: relative;
    padding: 30px 0;
    text-align: center;
    font-size: 24px;
}
.ribbon p {
    line-height: 35px;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.ribbon pre {
    margin-top: 25px;
    padding: 30px 15px;
}
.ribbon pre code {
    font-size: 115%;
    line-height: 20px;
}
.ribbon h3 {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

/*

SECTIONS

*/
.section {
    display: block;
    position: relative;
    padding: 80px 0 100px;
    text-align: center;
}

/*

WIDGETS

*/
.widget-page-widget {
    padding: 10px 0 40px;
    margin: 5px 0 15px;
}
.widget-page-widget h6.usp {
    font-size: 22px;
}
.widget-page-widget .icon-wrapper {
    margin: 0 0 0;
}
.widget-page-widget .description {
    margin: 0 35px 30px;   
}


/*

FOOTER

*/
#footer {
    display: block;
    position: relative;
    padding: 40px 0;
    text-align: left;
}
#footer .right {
    text-align: right;
}
#footer a.neuroware {
    text-indent: -999px;
    display: inline-block;
    position: relative;
    width: 298px;
    height: 50px;
    background: url(../img/neuroware.png) no-repeat;
}

/*

CONTENT

*/
#main-content {
    display: block;
    position: relative;
    padding: 60px 0;
    text-align: center;
}
#main-content h2.title {
    padding: 0 0 10px;
    margin: 0 0 10px;
}

/* SOCIAL ICONS */
a.shares {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    text-indent: 999em;
    overflow: hidden;
}
a.shares.angel {
    background: url(../img/angellist.png) no-repeat;
}
a.shares.twitter {
    background: url(../img/twitter.png) no-repeat;
}
a.shares.github {
    background: url(../img/github.png) no-repeat;
}
a.shares.facebook {
    background: url(../img/facebook.png) no-repeat;
}
a.shares.pinterest {
    background: url(../img/pinterest.png) no-repeat;
}
a.shares:hover {
    opacity: 0.7;
}


/*

SHARE BUTTONS

*/
a.mshares {
    background: url("../img/shares.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 50px;
    position: relative;
    text-indent: -999em;
    width: 50px;
}
a#angellist.mshares {
    background-position: 0 0;
}
a#twitter.mshares {
    background-position: -50px 0;
}
a#facebook.mshares {
    background-position: -100px 0;
}
a#github.mshares {
    background-position: -150px 0;
}
a#google.mshares {
    background-position: -200px 0;
}
a#linkedin.mshares {
    background-position: -250px 0;
}
a#angellist.mshares:hover {
    background-position: 0 -50px;
}
a#twitter.mshares:hover {
    background-position: -50px -50px;
}
a#facebook.mshares:hover {
    background-position: -100px -50px;
}
a#github.mshares:hover {
    background-position: -150px -50px;
}
a#google.mshares:hover {
    background-position: -200px -50px;
}
a#linkedin.mshares:hover {
    background-position: -250px -50px;
}
.contents a#angellist.mshares, .modal a#angellist.mshares {
    background-position: 0 -50px;
}
.contents a#twitter.mshares, .modal a#twitter.mshares {
    background-position: -50px -100px;
}
.contents a#facebook.mshares, .modal a#facebook.mshares {
    background-position: -100px -100px;
}
.modal a#github.mshares {
    background-position: -150px -100px;
}
.contents a#google.mshares, .modal a#google.mshares {
    background-position: -200px -100px;
}
.contents a#linkedin.mshares, .modal a#linkedin.mshares {
    background-position: -250px -100px;
}
.modal a#angellist.mshares:hover {
    background-position: 0 -50px;
}
.modal a#twitter.mshares:hover {
    background-position: -50px -100px;
}
.modal a#facebook.mshares:hover {
    background-position: -100px -100px;
}
.modal a#github.mshares:hover {
    background-position: -150px -100px;
}
.modal a#google.mshares:hover {
    background-position: -200px -100px;
}
.modal a#linkedin.mshares:hover {
    background-position: -250px -100px;
}
.contents span.mshares {
    display: block;
    text-align: center;
    width: 100%;
}

/*

BLOG

*/
.section.dark.page {
    padding: 40px 0 0;
}

/*

WUFOO

*/
.wufoo-wrapper iframe,
.wufoo-wrapper iframe html, 
.wufoo-wrapper iframe body {
    background: transparent;
}
.wufoo-wrapper {
    display: block;
    position: relative;
}

/*

SOCIAL

*/
.social.share {
    display: block;
    position: relative;
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px dotted #CCC;
    text-align: center;
}
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-bitbucket{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:hover,.btn-bitbucket:focus,.btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket{color:#fff;background-color:#183c60;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:active,.btn-bitbucket.active,.open .dropdown-toggle.btn-bitbucket{background-image:none}
.btn-bitbucket.disabled,.btn-bitbucket[disabled],fieldset[disabled] .btn-bitbucket,.btn-bitbucket.disabled:hover,.btn-bitbucket[disabled]:hover,fieldset[disabled] .btn-bitbucket:hover,.btn-bitbucket.disabled:focus,.btn-bitbucket[disabled]:focus,fieldset[disabled] .btn-bitbucket:focus,.btn-bitbucket.disabled:active,.btn-bitbucket[disabled]:active,fieldset[disabled] .btn-bitbucket:active,.btn-bitbucket.disabled.active,.btn-bitbucket[disabled].active,fieldset[disabled] .btn-bitbucket.active{background-color:#205081;border-color:rgba(0,0,0,0.2)}
.btn-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox:hover,.btn-dropbox:focus,.btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox{color:#fff;background-color:#0d70b7;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open .dropdown-toggle.btn-dropbox{background-image:none}
.btn-dropbox.disabled,.btn-dropbox[disabled],fieldset[disabled] .btn-dropbox,.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled:active,.btn-dropbox[disabled]:active,fieldset[disabled] .btn-dropbox:active,.btn-dropbox.disabled.active,.btn-dropbox[disabled].active,fieldset[disabled] .btn-dropbox.active{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-flickr{color:#fff;background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.btn-flickr:hover,.btn-flickr:focus,.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr{color:#fff;background-color:#d6006f;border-color:rgba(0,0,0,0.2)}
.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr{background-image:none}
.btn-flickr.disabled,.btn-flickr[disabled],fieldset[disabled] .btn-flickr,.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled:active,.btn-flickr[disabled]:active,fieldset[disabled] .btn-flickr:active,.btn-flickr.disabled.active,.btn-flickr[disabled].active,fieldset[disabled] .btn-flickr.active{background-color:#ff0084;border-color:rgba(0,0,0,0.2)}
.btn-foursquare{color:#fff;background-color:#0072b1;border-color:rgba(0,0,0,0.2)}.btn-foursquare:hover,.btn-foursquare:focus,.btn-foursquare:active,.btn-foursquare.active,.open .dropdown-toggle.btn-foursquare{color:#fff;background-color:#005888;border-color:rgba(0,0,0,0.2)}
.btn-foursquare:active,.btn-foursquare.active,.open .dropdown-toggle.btn-foursquare{background-image:none}
.btn-foursquare.disabled,.btn-foursquare[disabled],fieldset[disabled] .btn-foursquare,.btn-foursquare.disabled:hover,.btn-foursquare[disabled]:hover,fieldset[disabled] .btn-foursquare:hover,.btn-foursquare.disabled:focus,.btn-foursquare[disabled]:focus,fieldset[disabled] .btn-foursquare:focus,.btn-foursquare.disabled:active,.btn-foursquare[disabled]:active,fieldset[disabled] .btn-foursquare:active,.btn-foursquare.disabled.active,.btn-foursquare[disabled].active,fieldset[disabled] .btn-foursquare.active{background-color:#0072b1;border-color:rgba(0,0,0,0.2)}
.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{color:#fff;background-color:#303030;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{background-image:none}
.btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active{background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-instagram{color:#fff;background-color:#3f729b;border-color:rgba(0,0,0,0.2)}.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{color:#fff;background-color:#335d7e;border-color:rgba(0,0,0,0.2)}
.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{background-image:none}
.btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-instagram[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active{background-color:#3f729b;border-color:rgba(0,0,0,0.2)}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#005f8d;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-tumblr{color:#fff;background-color:#2c4762;border-color:rgba(0,0,0,0.2)}.btn-tumblr:hover,.btn-tumblr:focus,.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr{color:#fff;background-color:#1f3346;border-color:rgba(0,0,0,0.2)}
.btn-tumblr:active,.btn-tumblr.active,.open .dropdown-toggle.btn-tumblr{background-image:none}
.btn-tumblr.disabled,.btn-tumblr[disabled],fieldset[disabled] .btn-tumblr,.btn-tumblr.disabled:hover,.btn-tumblr[disabled]:hover,fieldset[disabled] .btn-tumblr:hover,.btn-tumblr.disabled:focus,.btn-tumblr[disabled]:focus,fieldset[disabled] .btn-tumblr:focus,.btn-tumblr.disabled:active,.btn-tumblr[disabled]:active,fieldset[disabled] .btn-tumblr:active,.btn-tumblr.disabled.active,.btn-tumblr[disabled].active,fieldset[disabled] .btn-tumblr.active{background-color:#2c4762;border-color:rgba(0,0,0,0.2)}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#309aea;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-vk{color:#fff;background-color:#587ea3;border-color:rgba(0,0,0,0.2)}.btn-vk:hover,.btn-vk:focus,.btn-vk:active,.btn-vk.active,.open .dropdown-toggle.btn-vk{color:#fff;background-color:#4a6a89;border-color:rgba(0,0,0,0.2)}
.btn-vk:active,.btn-vk.active,.open .dropdown-toggle.btn-vk{background-image:none}
.btn-vk.disabled,.btn-vk[disabled],fieldset[disabled] .btn-vk,.btn-vk.disabled:hover,.btn-vk[disabled]:hover,fieldset[disabled] .btn-vk:hover,.btn-vk.disabled:focus,.btn-vk[disabled]:focus,fieldset[disabled] .btn-vk:focus,.btn-vk.disabled:active,.btn-vk[disabled]:active,fieldset[disabled] .btn-vk:active,.btn-vk.disabled.active,.btn-vk[disabled].active,fieldset[disabled] .btn-vk.active{background-color:#587ea3;border-color:rgba(0,0,0,0.2)}

/*

RESPONSIVENESS

*/
@media (max-width: 768px) { 
    #footer .col-sm-6 p {
        text-align: center !important;
    }
    p.copy {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    body .section.page .well {
        margin-left: 5px;
        margin-right: 5px;
    }
    body .section.page .well span.number {
        display: none;
    }
    body h2.tagline {
        font-size: 38px;
    }
    body p.blog-intro {
        padding-top: 20px;
    }
    table.table.blog {
        display: none;
    }
    h4.post-title {
        text-align: center;
    }
    h4.post-title span.date {
        display: none;
    }
}